*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: blue;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
    color: blue;
}

.kolom .isian{
    font-size: 15px;
    font-weight: bold;
    color:blue;
}

.kotak{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    bottom: 0;
    text-align: center;
    color: aliceblue;
    background: blue
}

.body{
    background: bisque;
}